/* root */

:root {
    --color_primary: #1c80cb;


    --color_success: #33a728;
    --color_info: #17a2b8;
    --color_warning: #ffc107;
    --color_danger: #dc3545;
    
    
    --color_light: #d4d4d4;

    --color_light_gray: #c1c1c1;
    --color_gray: #6c757d;
    --color_dark_gray: #4a4c4f;
    
    --color_dark: #343a40;

    --nunito_font: 'Nunito', Arial, "Noto Sans";

    --spacing_small: 4px;
    --spacing_medium: 8px;
    --spacing_large: 12px;
    --spacing_xl: 16px;
    --spacing_xxl: 20px;

    --border_radius_small: 4px;
    --border_radius_medium: 8px;
    --border_radius_large: 12px;
    --border_infinite_radius: 1000px;
}

@font-face {
    font-family: 'Nunito';
    src: url("/website_resources/design/media/fonts/Nunito_variable.ttf");
}

/* design elements */




.spacer_small {height: var(--spacing_small);}
.spacer_medium {height: var(--spacing_medium);}
.spacer_large {height: var(--spacing_large);}
.spacer_xl {height: var(--spacing_xl);}
.spacer_xxl {height: var(--spacing_xxl);}


.floating_box {border: 1px solid var(--color_light_gray);border-radius: var(--border_radius_medium);padding: var(--spacing_xl);box-shadow: 0px 2px 15px -7px var(--color_dark_gray);position: absolute;left: 50%;top: 51%;transform: translate(-50%, -50%);display: inline-block;text-align: center;}
.floating_box:hover {box-shadow: 0px 2px 18px -7px var(--color_dark_gray);}


/* general rules */

body {margin: 0;font-family: var(--nunito_font);}

br {height: 20px;}


/* other big rules */



/* top bar */



/* sign in square */

#sign_in_square {}
#sign_in_square span {font-size: 14px;font-weight: bold;}