/* root */

:root {
    --color-primary: #1c80cb;
    --color-secondary: #6c757d;
    --color-success: #33a728;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;

    --nunito_font: 'Nunito', Arial, "Noto Sans";

    --spacing_small: 4px;
    --spacing_medium: 8px;
    --spacing_large: 12px;

    --border_radius_small: 4px;
    --border_radius_medium: 8px;
    --border_radius_large: 12px;
    --border_infinite_radius: 1000px;
}

@font-face {
    font-family: 'Nunito';
    src: url("/website_resources/design/media/fonts/Nunito_variable.ttf");
}

/* design elements */



/* general rules */

body {margin: 0;font-family: var(--nunito_font);}

br {height: 20px;}


/* other big rules */



#sign_in_square {border: 1px solid var(--color-secondary);border-radius: var(--border_radius_medium);padding: var(--spacing_small);text-align: center;}
#sign_in_square span {font-size: 14px;font-weight: bold;}
#sign_in_square br {}
